<div class="container__main">
    <div class="container">
        <div>
            <button (click)="changeType('signup')">Sign Up</button>
            <button (click)="changeType('login')">Log In</button>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
            <div class="input__wrapper" *ngIf="type === 'signup'">
                <label for="fullName">Full name:</label>
                <input class="input" type="text" id="fullName" formControlName="fullName" />
                <app-error-message [errorMessage]="getErrorMessage(fullName)" />
            </div>
            <div class="input__wrapper">
                <label for="email">Email:</label>
                <input class="input" type="text" id="email" formControlName="email" />
                <app-error-message [errorMessage]="getErrorMessage(email)" />
            </div>
            <div class="input__wrapper">
                <label for="password">Password:</label>
                <input class="input" type="password" id="password" formControlName="password" />
                <app-error-message [errorMessage]="getErrorMessage(password)" />
            </div>
            <button type="submit" [disabled]="userForm.invalid" *ngIf="type === 'signup'">Sign Up</button>
            <button type="submit" [disabled]="userForm.invalid" *ngIf="type === 'login'">Log In</button>
        </form>
        <!-- {{userForm.value | json}} -->
        <!-- {{userForm.get('password')?.errors | json}} -->
    </div>
</div>