<div class="container__main">
    <img src="assets/chatbot.jpg" class="image" />
    <div class="container">
        <div class="container__buttons">
            <button class="button--section" (click)="changeType('signup')">
                <span [class.active]="type === 'signup'">Sign Up</span>
            </button>
            <span>or</span>
            <button class="button--section" (click)="changeType('login')">
                <span [class.active]="type === 'login'">Log In</span>
            </button>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
            <div class="input__wrapper" *ngIf="type === 'signup'">
                <label class="label" [class.labelActive]="fullName.value" for="fullName">Full name</label>
                <input class="input" type="text" id="fullName" formControlName="fullName" />
                <app-error-message [errorMessage]="getErrorMessage(fullName)" />
            </div>
            <div class="input__wrapper">
                <label class="label" [class.labelActive]="email.value" for="email">Email</label>
                <input class="input" type="text" id="email" formControlName="email" />
                <app-error-message [errorMessage]="getErrorMessage(email)" />
            </div>
            <div class="input__wrapper">
                <label class="label" [class.labelActive]="password.value" for="password">Password</label>
                <input class="input" type="password" id="password" formControlName="password" />
                <app-error-message [errorMessage]="getErrorMessage(password)" />
            </div>
            <button class="button" type="submit" [disabled]="userForm.invalid" *ngIf="type === 'signup'">
                <ng-container *ngIf="isLoading"><app-loader /></ng-container>
                <ng-container *ngIf="!isLoading">Sign Up</ng-container>
            </button>
            <button class="button" type="submit" [disabled]="userForm.invalid" *ngIf="type === 'login'">
                <ng-container *ngIf="isLoading"><app-loader /></ng-container>
                <ng-container *ngIf="!isLoading">Log In</ng-container>

            </button>
            <div class="login-error" *ngIf="errorMessage">
                <img class="image-error" src="assets/error.png" />
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>