<div class="home">
	<nav>
		<button (click)="closeSession()">Log out</button>
	</nav>
	<section class="container__grid">
		<div class="item item--right">
			<div class="item__top">
				<h3>Nombre_Skin_1</h3>
				<button>Descargar CSS</button>
			</div>
			<div class="item__content">
				<div>
					<app-title-subtitle [title]="'Posición'" [subtitle]="'Ubicacion del webchat en la pantalla'" />
					<button>izq</button>
					<button>der</button>
					<button>arr</button>
					<button>aba</button>
					<span>(derecha abajo)</span>
				</div>


				<div>
					<app-title-subtitle [title]="'Colores'" [subtitle]="'Seleccione los colores del webchat'" />
					<app-color-picker *ngFor="let color of colors" [(color)]="styles[color.prop]"
						(colorChange)="updateStyles(color.prop, $event)" [label]="color.label" />
				</div>

				<div>
					<app-title-subtitle [title]="'Fuentes'" [subtitle]="'Configura la tipografia y el tamaño de los textos'" />
					<app-select />
					<app-select />
					<select>
						<option>csd</option>
						<option>bsd</option>
						<option>asd</option>
					</select>
				</div>


			</div>
			<div class="item__footer">
				<button class="button">Guardar</button>
			</div>
		</div>
		<div class="item item--left">
			<div class="box" [style.backgroundColor]="styles.headboardText">asd</div>
			<div class="box" [style.backgroundColor]="styles.headboardBg">asd</div>
			<div class="box" [style.backgroundColor]="styles.incomingBubble">asd</div>
			<div class="box" [style.backgroundColor]="styles.incomingText">asd</div>
			<div class="box" [style.backgroundColor]="styles.outgoingBubble">asd</div>
			<div class="box" [style.backgroundColor]="styles.outgoingText">asd</div>
			<div class="box" [style.backgroundColor]="styles.background">asd</div>
		</div>
	</section>
</div>